a {
    width: 100%;
}

#app {

    min-width : 100vw;
    height : 100vh;

}

body {
    scrollbar-gutter: stable;
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
}

.banner {
    display: flex;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
    position: relative;
    background: #1b4dd9;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 10vh;
    /*left: 3vh;*/
    /*top: -25vh;*/
    border-radius: 30px;
    margin: 15px;
}

.banner-n {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: White;
}

.navbar-container {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    vertical-align: center;
    position: relative;
    background: #1b4dd9;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 7.5vh;
    border-radius: 30px;

}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.nav-item .nav-link {
    text-decoration: none;
    color: white;
    width: auto;
}

.extra-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #1b4dd9;
    z-index: 1000;
}

.main-stage {
    display: flex;
    position: relative;
    min-width: 100vh;
    min-height: 80vh;
    overflow: auto;
    /*align-items: center;*/
    flex-direction: column;
    /*justify-content: center;*/
}

.posts {
    display: flex;
    align-items: center;
    vertical-align: center;
    position: relative;
    background: #1b4dd9;
    flex-direction: column;
    width: 100%;
    height: 55%;
    /*left: 3vh;*/
    /*top: -25vh;*/
    border-radius: 30px;
    margin: 15px;
}

.post-title {
    display: flex;
    align-items: center;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    margin: 0;
}

.posts div {
    width: 100%;
    display: flex;
}

.post-div {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: column;
    /*horiz-align: center;*/
    /*vertical-align: center;*/
    position: relative;

    /*width: 70%;*/
    width: auto;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.post-div hr {
    width: 100%;
}

.post-content {
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
    position: relative;
    width: 90%;
    height: auto;
    color: white;
    margin: 0;
}

.post-time {
    text-align: right;
    width: auto;
    height: auto;
    color: white;
    margin: 0;
    font-size: xx-small;
    line-height: 50%;
    transform: translate(0, -30%)
}

.post-line {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
    width: 100%;
    height: 5px;
    filter: invert(1);

}

.more-post {
    text-align: right;
    width: auto;
    height: auto;
    color: white;
    margin: 0;
    font-size: small;
    line-height: 150%;
}